* {
  font-family: "Roboto", sans-serif;
}

h2 {
  background-color: #db7093;
  padding: 10px;
  text-align: center;
  color: antiquewhite;
}

#produtos {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

#carrinho {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2%;
}

.info-single-checkout {
  border-bottom: 2px solid dotted;
  padding: 10px 0;
}

.produto-single {
  width: 32%;
  margin-right: 1%;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.produto-single img {
  max-width: 100%;
}

.produto-single p {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.produto-single a {
  text-decoration: none;
  color: antiquewhite;
  background-color: #483d8b;
  text-align: center;
  display: block;
  padding: 4px 0;
  font-size: 18px;
}

.carrinhoh2 {
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .produto-single {
    width: 100%;
    margin-right: 0;
  }
}
